/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #{$stanford-fog-light};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$stanford-black};
  --global-text-color-light: #{$stanford-cool-grey};
  --global-theme-color: #{$stanford-cardinal-mid};
  --global-hover-color: #{$stanford-digital-red};
  --global-footer-bg-color: #{$stanford-black};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-divider-color: #{$stanford-cardinal-mid};
  --global-card-bg-color: #{$white-color};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$stanford-black};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$grey-color-light};
  --global-text-color-light: #{$grey-color-light};
  --global-theme-color: #{$stanford-cardinal-mid};
  --global-hover-color: #{$stanford-cardinal-light};
  --global-footer-bg-color: #{$stanford-fog-light};
  --global-footer-text-color: #{$stanford-black};
  --global-footer-link-color: #{$stanford-cardinal-red};
  --global-divider-color: #{$stanford-cardinal-mid};
  --global-card-bg-color: #{$grey-900};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
